@media only screen and (max-width: 1125px) {
	section { padding: 40px 0; }

	.gen__intro { width: 75%; }

	.nav__items { flex: 0 0 45%; }

	.why__group { width: 60%; }

	.card__individual.company,
	.card__individual.team { flex: 0 0 25%; }

	.location__container { flex-direction: column; }

	.location__divider {
		width: 500px ;
		height: 0;
		margin: 50px 0;
	}

	.location__group {
		align-self: center;
		width: 100%;
	}

	.location__details--group {
		display: flex;
		justify-content: space-around;
	}

	.location__details {
		flex-direction: column;
		justify-content: baseline;
	}

	.location__details .icon { margin-bottom: 10px; }

	.map__container { margin: 0 10%; }

	.form__container { flex: 0 0 60%;}
}

@media only screen and (max-width: 1040px) {
	body { font-size: 18px; }

	.logo__logo {
		width: 100px;
		height: auto;
	}

	.journey__content { flex: 0 0 60%; }
}

@media only screen and (max-width: 940px) {
	.btn:link,
	.btn:visited { padding: 10px 15px; }
}

@media only screen and (max-width: 860px) {
	body { font-size: 16px; }

	header { height: 110vh; }

	.ukraine__text { font-size: 15px; }

	.why__content { width: 80%; }

	.journey__number {
		height: 90px;
		width: 90px;
		font-size: 350%;
	}

	.ben__photo {
		flex: 0 0 35%;
		background-position: 45% 50%;
	}

	.map__container {
		margin: 0 5%;
		height: 400px;
	}

	.form__container { flex: 0 0 75%;}
}

@media only screen and (max-width: 767px) {
	.nav__items { display: none; }

	.nav__bar { align-items: flex-start; }

	.mobile__nav__icon { display: contents; }

	.logo__text { display: none; }

	.nav__items { flex-direction: column; }

	.nav__items li { padding: 10px 10px; }

	.nav__items li a:link,
	.nav__items li a:visited { border: 0; }

	.gen__intro { width: 90%; }

	.svcs__content {
		flex-wrap: wrap;
		margin: 0 5%;
	}

	.svcs__offer { width: 50%; }

	.svcs__offer:nth-child(n+3) { margin-top: 30px;}

	.svcs__offer p { width: 80%; }

	.why__section { background-position: 70% 50%;}

	.why__group { width: 65%; }

	.why__content { margin-top: 0; }

	.journey__group--one,
	.journey__group--two { margin-top: 0; }

	.ben__photo { display: none; }

	.card__container {
		flex-direction: column;
		align-items: center;
	}

	.card__individual:nth-child(-n+2) { margin-bottom: 30px; }

	.card__individual { width: 80%; }

	.card__individual.company {
		background-color: #fff;
		padding: 0;
	}

	.footer__upper {
		flex-direction: column;
		align-items: center;
	}

	.footer__nav li:nth-child(4) { margin-right: 0; }

	.footer__logo img {
		height: 100px;
		margin: 15px 0;
	}

	.form__group {
		flex-direction: column;
		align-items: flex-start;
	}

	.form__group label { margin-bottom: 5px; }

	.form__field { width: 100%; }

	.form__group.hidden { margin-top: 0; }

	.privacy__container { margin: 0 5%; }

	.privacy__list--table a { margin-left: 0; }
}

@media only screen and (max-width: 600px) {
	.svcs__content { margin: 0 2%;}

	.svcs__offer { width: 40%;}

	.svcs__offer p { width: 100%; }

	.why__group { width: 75%; }

	.journey__container { margin: 0; }

	.journey__group--two { margin-top: 30px; }

	.journey__group--one,
	.journey__group--two,
	.journey__group--three,
	.journey__group--four { flex: 0 0 100%; }

	.location__divider { width: 350px; }
}

@media only screen and (max-width: 470px) {
	.svcs__content {
		flex-direction: column;
		align-items: center;
		margin: 0;
	}

	.svcs__offer { width: 80%; }

	.svcs__offer:nth-child(n+1) {
		margin-bottom: 30px;
		margin-top: 0;
	}

	.why__group { width: 85%; }

	.why__section { background-position: 65% 50%;}

	.location__details--group {
		flex-direction: column;
		align-items: center;
	}

	.location__details { align-items: center; }

	.location__number { align-self: flex-start; }

	.location__address {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.location__divider { width: 250px; }

	footer { padding: 15px;}
}

@media only screen and (max-width: 425px) {
	h2 { font-size: 160%; }

	.why__group {
		width: 100%;
		color: #fff;
	}

	.why__section {
		background-position: 40% 50%;
		background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/why-us.jpg);
	}
}

@media only screen and (max-width: 400px) {
	.footer__lower { flex-direction: column; }

	.footer__divider {
		height: 0;
		width: 100px;
		margin: 15px 0;
	}

	.footer__lower--right { flex-direction: column; }
}

@media only screen and (max-width: 340px) {
	.hero__btns {
		display: flex;
		flex-direction: column;
		align-items: center;
		align-self: center;
	}

	.hero__btns .btn-full:link,
	.hero__btns .btn-full:visited {
		margin-right: 0;
		margin-bottom: 20px;
	}

	.svcs__offer { width: 90%; }

	.why__content { width: 100%; }

	.ben__print { margin-top: 30px; }

	.ben__btn { margin-bottom: 0; }
}
