@import 'vendors/grid',
'vendors/normalize';

/*
base colour: #10ac84
hover colour: #0c7d60
*/

/* --------------------------------------------*/
/* BASIC SETUP */
/* --------------------------------------------*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Lato', 'Arial', sans-serif;
	font-weight: 300;
	font-size: 20px;
	text-rendering: optimizeLegibility;
}

/* --------------------------------------------*/
/* REUSABLE COMPONENTS */
/* --------------------------------------------*/

section {
	padding: 80px 0;
}

.box {
	padding: 2%;
}

/* ----- HEADINGS ------ */
h1,
h2,
h3 {
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 1px;
}

h1 {
	margin: 0;
	margin-bottom: 20px;
	color: #fff;
	font-size: 240%;
	word-spacing: 4px;
}

h2 {
	font-size: 180%;
	word-spacing: 2px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 30px;
}

h3 {
	font-size: 110%;
	margin-bottom: 15px;
	font-weight: 700;
}

h2::after {
	height: 2px;
	background-color: #10ac84;
	content: " ";
	width: 100px;
	margin-top: 30px;
}

/* ----- PARAGRAPHS ------ */
.gen__intro {
	line-height: 145%;
	width: 50%;
	text-align: justify;
}

.box p {
	font-size: 90%;
	line-height: 145%;
	text-align: justify;
}

/* ----- ICONS ------ */
ion-icon {
	font-size: 350%;
	display: block;
	color: #10ac84;
	margin-bottom: 10px;
}

/* ----- LINKS ------ */

/* ----- BUTTONS ------ */
.btn:link,
.btn:visited {
	display: inline-block;
	padding: 10px 30px;
	font-weight: 300;
	text-decoration: none;
	border-radius: 200px;
	color: #fff;
	transition: background-color 0.2s, border 0.2s;
}

.btn-full:link,
.btn-full:visited {
	background-color: #10ac84;
	border: 1px solid #10ac84;
	margin-right: 15px;
}

.btn-transparent:link,
.btn-transparent:visited {
	border: 1px solid #10ac84;
}

.btn:hover,
.btn:active {
	background-color: #0c7d60;
}

.btn-full:hover,
.btn-full:active {
	border: 1px solid #0c7d60;
}

.btn-transparent:hover,
.btn-transparent:active {
	border: 1px solid #0c7d60;
}

/* --------------------------------------------*/
/* HEADER */
/* --------------------------------------------*/
header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/hero-index.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
}

.hero__section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.nav__bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 5%;
}

.logo__group {
	display: flex;
	align-items: center;
	margin-top: 5%;
}

.logo__group {
	text-decoration: none;
}

.logo__text {
	list-style: none;
	margin-left: 10px;
	text-decoration: none;
}

.logo__text li {
	color: #fff;
	font-weight: 700;
	margin-bottom: 5px;
}

.nav__items {
	display: flex;
	flex: 0 0 30%;
	justify-content: space-between;
	list-style: none;
}

.nav__items li a:link,
.nav__items li a:visited {
	padding: 8px 0;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 90%;
	border-bottom: 2px solid transparent;
	transition: border-bottom 0.2s;
}

.nav__items li a:hover,
.nav__items li a:active {
	border-bottom: 2px solid #10ac84;
}

/* --------------------------------------------*/
/* SERVICES OVERVIEW */
/* --------------------------------------------*/
.svcs__heading {
	margin-bottom: 50px;
}

.svcs__heading {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.svcs__content {
	display: flex;
	justify-content: space-evenly;
	margin: 0 5%;
}

.svcs__offer {
	width: 20%;
}

/* --------------------------------------------*/
/* ADVANTAGES CTA */
/* --------------------------------------------*/
.advantages-cta {
	padding: 0;
}

.advantages-showcase {
	list-style: none;
	width: 100%;
	display: flex;
	align-items: center;
	background: #f4f4f4;
}

.advantages-showcase li {
	flex: 1;
	text-align: center;
}

.advantages-caption h3 {
	padding: 0 10px;
}

.advantages-photo {
	width: 100%;
	margin: 0;
	overflow: hidden;
}

.advantages-photo img {
	width: 100%;
	height: auto;
	transform: scale(1.15);
}

.advantages-more-info {
	margin-top: 10px;
}

.advantages-fine-print {
	font-weight: 100;
	font-size: 80%;
	margin-left: 20px;
}

/* --------------------------------------------*/
/* WHY US SECTION */
/* --------------------------------------------*/
.why__section {
	background-image: url(../images/why-us.jpg);
	background-size: cover;
	background-position: center;
}

.why__container {
	display: flex;
	flex-direction: column;
	margin-left: 35%;
	margin-right: 5%;
}

.why__heading {
	align-self: center;
}

.why__content {
	margin-top: 30px;
	width: 50%;
	align-self: center;
}

.why__reason {
	display: flex;
	align-items: center;
	margin-bottom: 50px;
}

.why__icon ion-icon {
	margin-right: 25px;
	margin-bottom: 0;
}

.why__number {
	color: #10ac84;
	border: 2px solid #10ac84;
	border-radius: 50%;
	height: 55px;
	width: 55px;
	text-align: center;
	padding: 5px;
	font-size: 150%;
	margin-right: 25px;
}

.why__info {
	font-weight: 100;
	margin-top: 10px;
}

.why__btn {
	align-self: center;
}
