@import 'vendors/grid',
'vendors/normalize',
'partials/nav',
'partials/hero';


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Lato', 'Arial', sans-serif;
	font-weight: 300;
	font-size: 20px;
	text-rendering: optimizeLegibility;
}

.row {
	max-width: 1140px;
	margin: 0 auto;
}

section {
	padding: 80px 0;
}

h1,
h2,
h3 {
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 1px;
}

h1 {
	margin: 0;
	margin-bottom: 20px;
	color: #fff;
	font-size: 240%;
	word-spacing: 4px;
}

h2 {
	font-size: 180%;
	word-spacing: 2px;
	text-align: center;
	margin-bottom: 30px;
}

h3 {
	font-size: 110%;
	margin-bottom: 15px;
}

h2::after {
	display: block;
	height: 2px;
	background-color: #10ac84;
	content: " ";
	width: 100px;
	margin: 0 auto;
	margin-top: 30px;
}

.long-copy {
	line-height: 145%;
	width: 70%;
	margin-left: 15%;
}

.box {
	padding: 2%;
}

.box p {
	font-size: 90%;
	line-height: 145%;
	text-align: justify;
}

ion-icon {
	font-size: 350%;
	display: block;
	color: #10ac84;
	margin-bottom: 10px;
}

header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/hero-index.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
}
