<div class="hero-text">
	<h1><%= data.index.hero %><br><%= data.index.hero_break %></h1>
	<%= link_to data.index.btn_full, "#", class: "btn btn-full" %>
	<%= link_to data.index.btn_clear, "#", class: "btn btn-transparent" %>
</div>
