<div class="hero__section">
	<div class="hero__group">
		<h1><%= data.home.hero.title %><br><%= data.home.hero.break %></h1>
		<div class="hero__btns">
			<%= link_to data.home.hero.btn_full, "#", class: "btn btn-full" %>
			<%= link_to data.home.hero.btn_clear, "#", class: "btn btn-transparent" %>
		</div>
	</div>
</div>
