<div class="hero-text">
	<h1><%= data.home.hero %><br><%= data.home.hero_break %></h1>
	<%= link_to data.home.btn_full, "#", class: "btn btn-full" %>
	<%= link_to data.home.btn_clear, "#", class: "btn btn-transparent" %>
</div>
