<div class="hero-text">
	<h1>our best results on your tax return,<br>at fair prices</h1>
	<%= link_to "Something", "#", class: "btn btn-full" %>
	<%= link_to "Something else", "#", class: "btn btn-transparent" %>
</div>
