<nav>
	<div class="row">
		<% link_to "#", class: "logo-group" do %>
			<%= image_tag "images/logo.png", alt: "Monty's Income Tax Services logo", class: "logo" %>
			<ul class="logo-text">
				<li>Monty's</li>
				<li>Income Tax</li>
				<li>Services</li>
			</ul>
		<% end %>
		<ul class="main-nav">
			<li><%= link_to "Our Services", "#" %></li>
			<li><%= link_to "About Us", "#" %></li>
			<li><%= link_to "Contact", "#" %></li>
		</ul>
	</div>
</nav>
