<div class="ticker-tape__container">
  <div class="ticker-tape__group">
    <span class="ticker-tape__text">Efile services reopen for processing Tax Year <span class="text--bold">2024</span> and any <span class="text--underline">earlier tax years</span> on <span class="text--bold">FEBRUARY 13th, 2025</span></span>
	<span class="ticker-tape__ghost">Efile services reopen for processing Tax Year <span class="text--bold">2024</span> and any <span class="text--underline">earlier tax years</span> on <span class="text--bold">FEBRUARY 13th, 2025</span>
	<span class="ticker-tape__text">Efile services reopen for processing Tax Year <span class="text--bold">2024</span> and any <span class="text--underline">earlier tax years</span> on <span class="text--bold">FEBRUARY 13th, 2025</span>
	<span class="ticker-tape__ghost">Efile services reopen for processing Tax Year <span class="text--bold">2024</span> and any <span class="text--underline">earlier tax years</span> on <span class="text--bold">FEBRUARY 13th, 2025</span>
	<span class="ticker-tape__text">Efile services reopen for processing Tax Year <span class="text--bold">2024</span> and any <span class="text--underline">earlier tax years</span> on <span class="text--bold">FEBRUARY 13th, 2025</span>
	<span class="ticker-tape__ghost">Efile services reopen for processing Tax Year <span class="text--bold">2024</span> and any <span class="text--underline">earlier tax years</span> on <span class="text--bold">FEBRUARY 13th, 2025</span>
  </div>
	<div class="ticker-tape__group">
		<span class="ticker-tape__text">Efile services reopen for processing Tax Year <span class="text--bold">2024</span> and any <span class="text--underline">earlier tax years</span> on <span class="text--bold">FEBRUARY 13th, 2025</span>
		<span class="ticker-tape__ghost">Efile services reopen for processing Tax Year <span class="text--bold">2024</span> and any <span class="text--underline">earlier tax years</span> on <span class="text--bold">FEBRUARY 13th, 2025</span>
		<span class="ticker-tape__text">Efile services reopen for processing Tax Year <span class="text--bold">2024</span> and any <span class="text--underline">earlier tax years</span> on <span class="text--bold">FEBRUARY 13th, 2025</span>
		<span class="ticker-tape__ghost">Efile services reopen for processing Tax Year <span class="text--bold">2024</span> and any <span class="text--underline">earlier tax years</span> on <span class="text--bold">FEBRUARY 13th, 2025</span>
		<span class="ticker-tape__text">Efile services reopen for processing Tax Year <span class="text--bold">2024</span> and any <span class="text--underline">earlier tax years</span> on <span class="text--bold">FEBRUARY 13th, 2025</span>
		<span class="ticker-tape__ghost">Efile services reopen for processing Tax Year <span class="text--bold">2024</span> and any <span class="text--underline">earlier tax years</span> on <span class="text--bold">FEBRUARY 13th, 2025</span>
	</div>
</div>
