<div class="ticker-tape__container">
  <div class="ticker-tape__group">
    <span class="ticker-tape__text">EFILE services for Tax Year <b>2024</b> and any earlier tax years begins on <b>FEBRUARY 17th, 2025</b></span>
		<span class="ticker-tape__ghost">EFILE services for Tax Year <b>2024</b> and any earlier tax years begins on <b>FEBRUARY 17th, 2025</b></span>
		<span class="ticker-tape__text">EFILE services for Tax Year <b>2024</b> and any earlier tax years begins on <b>FEBRUARY 17th, 2025</b></span>
		<span class="ticker-tape__ghost">EFILE services for Tax Year <b>2024</b> and any earlier tax years begins on <b>FEBRUARY 17th, 2025</b></span>
		<span class="ticker-tape__text">EFILE services for Tax Year <b>2024</b> and any earlier tax years begins on <b>FEBRUARY 17th, 2025</b></span>
		<span class="ticker-tape__ghost">EFILE services for Tax Year <b>2024</b> and any earlier tax years begins on <b>FEBRUARY 17th, 2025</b></span>
  </div>
	<div class="ticker-tape__group">
		<span class="ticker-tape__text">EFILE services for Tax Year <b>2024</b> and any earlier tax years begins on <b>FEBRUARY 17th, 2025</b></span>
		<span class="ticker-tape__ghost">EFILE services for Tax Year <b>2024</b> and any earlier tax years begins on <b>FEBRUARY 17th, 2025</b></span>
		<span class="ticker-tape__text">EFILE services for Tax Year <b>2024</b> and any earlier tax years begins on <b>FEBRUARY 17th, 2025</b></span>
		<span class="ticker-tape__ghost">EFILE services for Tax Year <b>2024</b> and any earlier tax years begins on <b>FEBRUARY 17th, 2025</b></span>
		<span class="ticker-tape__text">EFILE services for Tax Year <b>2024</b> and any earlier tax years begins on <b>FEBRUARY 17th, 2025</b></span>
		<span class="ticker-tape__ghost">EFILE services for Tax Year <b>2024</b> and any earlier tax years begins on <b>FEBRUARY 17th, 2025</b></span>
	</div>
</div>
