<div class="ticker-tape__container">
  <div class="ticker-tape__group">
    <span class="ticker-tape__text">Keep watching this space for important Tax and efiling message updates...</span>
		<span class="ticker-tape__ghost">Keep watching this space for important Tax and efiling message updates...</span>
		<span class="ticker-tape__text">Keep watching this space for important Tax and efiling message updates...</span>
		<span class="ticker-tape__ghost">Keep watching this space for important Tax and efiling message updates...</span>
		<span class="ticker-tape__text">Keep watching this space for important Tax and efiling message updates...</span>
		<span class="ticker-tape__ghost">Keep watching this space for important Tax and efiling message updates...</span>
  </div>
	<div class="ticker-tape__group">
		<span class="ticker-tape__text">Keep watching this space for important Tax and efiling message updates...</span>
		<span class="ticker-tape__ghost">Keep watching this space for important Tax and efiling message updates...</span>
		<span class="ticker-tape__text">Keep watching this space for important Tax and efiling message updates...</span>
		<span class="ticker-tape__ghost">Keep watching this space for important Tax and efiling message updates...</span>
		<span class="ticker-tape__text">Keep watching this space for important Tax and efiling message updates...</span>
		<span class="ticker-tape__ghost">Keep watching this space for important Tax and efiling message updates...</span>
	</div>
</div>
