<div class="basic-styling ticker-tape-container">
  <div class="ticker-tape">
    <span>Keep watching this space for important Tax and efiling message updates</span>
		<span class="ticker-tape-ghost">Keep watching this space for important Tax and efiling message updates</span>
		<span>Keep watching this space for important Tax and efiling message updates</span>
		<span class="ticker-tape-ghost">Keep watching this space for important Tax and efiling message updates</span>
		<span>Keep watching this space for important Tax and efiling message updates</span>
  </div>
</div>
