<div class="ticker-tape__container">
	<div class="ticker-tape__group">
		<span class="ticker-tape__text">Ensure you have access to your <span class="text--bold">CRA My Account</span>, as <span class="text--bold">ALL</span> CRA correspondence is now issued electronically rather than through Canada Post.</span>
		<span class="ticker-tape__ghost">THIS IS GHOST TEXT THAT ENSURES EQUAL SPACING BETWEEN MESSAGES</span></span>
		<span class="ticker-tape__text">2025 Tax Efiling begins <span class="text--bold">February 23, 2026</span></span>
		<span class="ticker-tape__ghost">THIS IS GHOST TEXT THAT ENSURES EQUAL SPACING BETWEEN MESSAGES</span></span>
		<span class="ticker-tape__text">Ensure you have access to your <span class="text--bold">CRA My Account</span>, as <span class="text--bold">ALL</span> CRA correspondence is now issued electronically rather than through Canada Post.</span>
		<span class="ticker-tape__ghost">THIS IS GHOST TEXT THAT ENSURES EQUAL SPACING BETWEEN MESSAGES</span></span>
	</div>
	<div class="ticker-tape__group">
		<span class="ticker-tape__text">2025 Tax Efiling begins <span class="text--bold">February 23, 2026</span></span>
		<span class="ticker-tape__ghost">THIS IS GHOST TEXT THAT ENSURES EQUAL SPACING BETWEEN MESSAGES</span></span>
		<span class="ticker-tape__text">Ensure you have access to your <span class="text--bold">CRA My Account</span>, as <span class="text--bold">ALL</span> CRA correspondence is now issued electronically rather than through Canada Post.</span>
		<span class="ticker-tape__ghost">THIS IS GHOST TEXT THAT ENSURES EQUAL SPACING BETWEEN MESSAGES</span></span>
		<span class="ticker-tape__text">2025 Tax Efiling begins <span class="text--bold">February 23, 2026</span></span>
		<span class="ticker-tape__ghost">THIS IS GHOST TEXT THAT ENSURES EQUAL SPACING BETWEEN MESSAGES</span></span>
	</div>
</div>