<div class="ticker-tape__container">
	<div class="ticker-tape__group">
		<span class="ticker-tape__text">Income Tax "Efile Services" for processing Tax Year <span class="text--bold">2024</span> and earlier tax years reopens on <span class="text--bold">"MONDAY, FEBRUARY 24th, 2025"</span></span>
		<span class="ticker-tape__ghost">Income Tax "Efile Services" for processing Tax Year <span class="text--bold">2024</span> and earlier tax years reopens on <span class="text--bold">"MONDAY, FEBRUARY 24th, 2025"</span></span>
		<span class="ticker-tape__text">Income Tax "Efile Services" for processing Tax Year <span class="text--bold">2024</span> and earlier tax years reopens on <span class="text--bold">"MONDAY, FEBRUARY 24th, 2025"</span></span>
		<span class="ticker-tape__ghost">Income Tax "Efile Services" for processing Tax Year <span class="text--bold">2024</span> and earlier tax years reopens on <span class="text--bold">"MONDAY, FEBRUARY 24th, 2025"</span></span>
		<span class="ticker-tape__text">Income Tax "Efile Services" for processing Tax Year <span class="text--bold">2024</span> and earlier tax years reopens on <span class="text--bold">"MONDAY, FEBRUARY 24th, 2025"</span></span>
		<span class="ticker-tape__ghost">Income Tax "Efile Services" for processing Tax Year <span class="text--bold">2024</span> and earlier tax years reopens on <span class="text--bold">"MONDAY, FEBRUARY 24th, 2025"</span></span>
	</div>
	<div class="ticker-tape__group">
		<span class="ticker-tape__text">Income Tax "Efile Services" for processing Tax Year <span class="text--bold">2024</span> and earlier tax years reopens on <span class="text--bold">"MONDAY, FEBRUARY 24th, 2025"</span></span>
		<span class="ticker-tape__ghost">Income Tax "Efile Services" for processing Tax Year <span class="text--bold">2024</span> and earlier tax years reopens on <span class="text--bold">"MONDAY, FEBRUARY 24th, 2025"</span></span>
		<span class="ticker-tape__text">Income Tax "Efile Services" for processing Tax Year <span class="text--bold">2024</span> and earlier tax years reopens on <span class="text--bold">"MONDAY, FEBRUARY 24th, 2025"</span></span>
		<span class="ticker-tape__ghost">Income Tax "Efile Services" for processing Tax Year <span class="text--bold">2024</span> and earlier tax years reopens on <span class="text--bold">"MONDAY, FEBRUARY 24th, 2025"</span></span>
		<span class="ticker-tape__text">Income Tax "Efile Services" for processing Tax Year <span class="text--bold">2024</span> and earlier tax years reopens on <span class="text--bold">"MONDAY, FEBRUARY 24th, 2025"</span></span>
		<span class="ticker-tape__ghost">Income Tax "Efile Services" for processing Tax Year <span class="text--bold">2024</span> and earlier tax years reopens on <span class="text--bold">"MONDAY, FEBRUARY 24th, 2025"</span></span>
	</div>
</div>
