<div class="ticker-tape__container">
	<div class="ticker-tape__group">
		<span class="ticker-tape__text">Ensure you have access to your <span class="text--bold">CRA My Account</span>, as <span class="text--bold">ALL</span> CRA correspondence is now issued electronically rather than through Canada Post.</span>
		<span class="ticker-tape__ghost">Ensure you have access to your <span class="text--bold">CRA My Account</span>, as <span class="text--bold">ALL</span> CRA correspondence is now issued electronically rather than through Canada Post.</span>
		<span class="ticker-tape__text">Ensure you have access to your <span class="text--bold">CRA My Account</span>, as <span class="text--bold">ALL</span> CRA correspondence is now issued electronically rather than through Canada Post.</span>
		<span class="ticker-tape__ghost">Ensure you have access to your <span class="text--bold">CRA My Account</span>, as <span class="text--bold">ALL</span> CRA correspondence is now issued electronically rather than through Canada Post.</span>
		<span class="ticker-tape__text">Ensure you have access to your <span class="text--bold">CRA My Account</span>, as <span class="text--bold">ALL</span> CRA correspondence is now issued electronically rather than through Canada Post.</span>
		<span class="ticker-tape__ghost">Ensure you have access to your <span class="text--bold">CRA My Account</span>, as <span class="text--bold">ALL</span> CRA correspondence is now issued electronically rather than through Canada Post.</span>
	</div>
	<div class="ticker-tape__group">
		<span class="ticker-tape__text">Ensure you have access to your <span class="text--bold">CRA My Account</span>, as <span class="text--bold">ALL</span> CRA correspondence is now issued electronically rather than through Canada Post.</span>
		<span class="ticker-tape__ghost">Ensure you have access to your <span class="text--bold">CRA My Account</span>, as <span class="text--bold">ALL</span> CRA correspondence is now issued electronically rather than through Canada Post.</span>
		<span class="ticker-tape__text">Ensure you have access to your <span class="text--bold">CRA My Account</span>, as <span class="text--bold">ALL</span> CRA correspondence is now issued electronically rather than through Canada Post.</span>
		<span class="ticker-tape__ghost">Ensure you have access to your <span class="text--bold">CRA My Account</span>, as <span class="text--bold">ALL</span> CRA correspondence is now issued electronically rather than through Canada Post.</span>
		<span class="ticker-tape__text">Ensure you have access to your <span class="text--bold">CRA My Account</span>, as <span class="text--bold">ALL</span> CRA correspondence is now issued electronically rather than through Canada Post.</span>
		<span class="ticker-tape__ghost">Ensure you have access to your <span class="text--bold">CRA My Account</span>, as <span class="text--bold">ALL</span> CRA correspondence is now issued electronically rather than through Canada Post.</span>
	</div>
</div>