<div class="ticker-tape__container">
	<div class="ticker-tape__group">
		<span class="ticker-tape__text">The CRA is delayed in adding some taxpayer T-Slips to on-line <span class="text--bold">My Account</span> files. Make sure you have <span class="text--bold">ALL</span> your paperwork as to avoid missed claims and/or penalties.</span>
		<span class="ticker-tape__ghost">The CRA is delayed in adding some taxpayer T-Slips to on-line <span class="text--bold">My Account</span> files. Make sure you have <span class="text--bold">ALL</span> your paperwork as to avoid missed claims and/or penalties.</span>
		<span class="ticker-tape__text">The CRA is delayed in adding some taxpayer T-Slips to on-line <span class="text--bold">My Account</span> files. Make sure you have <span class="text--bold">ALL</span> your paperwork as to avoid missed claims and/or penalties.</span>
		<span class="ticker-tape__ghost">The CRA is delayed in adding some taxpayer T-Slips to on-line <span class="text--bold">My Account</span> files. Make sure you have <span class="text--bold">ALL</span> your paperwork as to avoid missed claims and/or penalties.</span>
		<span class="ticker-tape__text">The CRA is delayed in adding some taxpayer T-Slips to on-line <span class="text--bold">My Account</span> files. Make sure you have <span class="text--bold">ALL</span> your paperwork as to avoid missed claims and/or penalties.</span>
		<span class="ticker-tape__ghost">The CRA is delayed in adding some taxpayer T-Slips to on-line <span class="text--bold">My Account</span> files. Make sure you have <span class="text--bold">ALL</span> your paperwork as to avoid missed claims and/or penalties.</span>
	</div>
	<div class="ticker-tape__group">
		<span class="ticker-tape__text">The CRA is delayed in adding some taxpayer T-Slips to on-line <span class="text--bold">My Account</span> files. Make sure you have <span class="text--bold">ALL</span> your paperwork as to avoid missed claims and/or penalties.</span>
		<span class="ticker-tape__ghost">The CRA is delayed in adding some taxpayer T-Slips to on-line <span class="text--bold">My Account</span> files. Make sure you have <span class="text--bold">ALL</span> your paperwork as to avoid missed claims and/or penalties.</span>
		<span class="ticker-tape__text">The CRA is delayed in adding some taxpayer T-Slips to on-line <span class="text--bold">My Account</span> files. Make sure you have <span class="text--bold">ALL</span> your paperwork as to avoid missed claims and/or penalties.</span>
		<span class="ticker-tape__ghost">The CRA is delayed in adding some taxpayer T-Slips to on-line <span class="text--bold">My Account</span> files. Make sure you have <span class="text--bold">ALL</span> your paperwork as to avoid missed claims and/or penalties.</span>
		<span class="ticker-tape__text">The CRA is delayed in adding some taxpayer T-Slips to on-line <span class="text--bold">My Account</span> files. Make sure you have <span class="text--bold">ALL</span> your paperwork as to avoid missed claims and/or penalties.</span>
		<span class="ticker-tape__ghost">The CRA is delayed in adding some taxpayer T-Slips to on-line <span class="text--bold">My Account</span> files. Make sure you have <span class="text--bold">ALL</span> your paperwork as to avoid missed claims and/or penalties.</span>
	</div>
</div>