<div class="ukraine__container">
	<div class="ukraine__element ukraine--blue">
		<div class="ukraine__text">#We stand</div>
	</div>
	<div class="ukraine__element ukraine--yellow">
		<div class="ukraine__text">with Ukraine</div>
	</div>
</div>
