<section class="path__section">
	<h2>Your Path to Maximized Returns</h2>
	<div class="path__container--top">
		<div class="path__group--one">
			<div class="path__number"><%= data.home.why.num_one %></div>
			<div class="path__content">
				<%= link_to "Contact us", "#" %> by phone or through our form and we will
				get back to you.
			</div>
		</div>
		<div class="path__group--two">
			<div class="path__number"><%= data.home.why.num_two %></div>
			<div class="path__content">
				 Drop off your tax info at our location and we will review it together.
			</div>
		</div>
	</div>
	<div class="path__container--bottom">
		<div class="path__group--three">
			<div class="path__number"><%= data.home.why.num_three %></div>
			<div class="path__content">
				Once completed, we call you in for the final review and signatures
				before efiling.
			</div>
		</div>
		<div class="path__group--four">
			<div class="path__number">4</div>
			<div class="path__content">
				Sit back and relax knowing your return has been filed with you at the
				forefront.
			</div>
		</div>
	</div>
</section>
