---
title: Welcome to Middleman
---

<header>
	<div class="hero-text">
		<h1>our best results,<br>at fair prices</h1>
		<%= link_to 'Something', '#' %>
		<%= link_to 'Something else', '#' %>
	</div>
</header>
